.article_card {
    background-color: white;
    margin-top: 1em;
    border-radius: 11px;
    /* padding-left: .5em; */
    display: flex;
}
.articles_flex{
    margin-top: 2em;
    display: flex;
    flex-direction: row-reverse;
}

.articles_card_container{
flex: 3;
margin-left: 20%;
}

.btn_article{
    width: 100%;
    background-color: #007a35;
    color: white;
    border-radius: 8px;
    border: solid 2px #007a35;
}

.btn_container{
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 0px 10px 10px 0px;

}

.btn_container button{
    width: 100%;
    /* border-radius: 6px; */
    height: 100%;
}



.article_body{
    flex-direction: column;
    flex: 2.5;
    margin-left: 1em;
}

.article_title{
    flex: 1 1;
    display: flex;
    align-content: center;
    align-items: center;
    color: white;
    background-color: #007a35;
    border-radius: 10px 0px 0px 10px;
    padding-left: .5em;
}

#delete_button{
    /* height: 50%; */
    border-radius: 0px 10px 0px 0px;
    flex: 5;
    padding: 0;
    background-color: #a45454;
    color: white;
}

#edit_button{
    /* height: 50%; */
    border-radius: 0px 0px 10px 0px;
    flex: 5;
}