.article_card {
    background-color: white;
    margin-top: 1em;
    border-radius: 11px;
    /* padding-left: .5em; */
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px black;
}
.articles_flex{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.articles_card_container{
    max-width: 60vw;
    margin: 0 20%;
    
}
.article_section a{
    color: white;
    text-decoration: none;
}
.article_section a:hover{
    color: white;
}

.btn_article{
    width: 100%;
    background: #1ba361;
    color: white;
    border-radius: 8px;
    border: solid 2px #007a35;
}

.btn_container{
    display: flex;
    flex-direction: column;
    flex: 1;
    /* border-radius: 0px 10px 10px 0px; */

}

.btn_container button{
    width: 100%;
    /* border-radius: 6px; */
    height: 100%;
}
.link_icon{
    /* background-image: url("../../../public/images/link.png"); */
    background-color: #BE1815;
    flex: 1;
}


.article_body{
    flex-direction: column;
    flex: 3;
    min-height: 10vh;
    color: white;
    background: #374238;
}
.article_body p{
    margin-left: 1em;
}

.article_title{
    /* flex: 1 1; */
    display: flex;
    align-content: center;
    align-items: center;
    color: white;
    text-shadow: 0px 0px 5px black;
    background: #1ba361;
    /* border-radius: 10px 10px 0px 0px; */
    padding-left: 1em;
}

#delete_button{
    /* height: 50%; */
    /* border-radius: 0px 0px 10px 10px; */
    flex: 1;
    padding: 0;
    background-color: #BE1815;
    color: white;
    border: none;
}

#edit_button{
    /* height: 50%; */
    /* border-radius: 0px 0px 10px 0px; */
    flex: 1;
    border: none;
    background: #1ba361;
    color: white;
}