.cards-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

body {
  background: linear-gradient(
    0deg,
    rgba(236, 238, 238, 1) 0%,
    rgba(128, 129, 129, 1) 36%,
    rgba(1, 1, 1, 1) 85%
  );
  background-repeat: no-repeat;
  height: 100vh;
}

.new_event_btn {
  color: #fefefe;
  width: 100%;
  /* border: none; */
  border-radius: 5px;
  background: linear-gradient(0deg, rgba(58,148,97,1) 9%, rgba(33,84,55,1) 89%);
}
.card {
  margin: 2em;
  background: linear-gradient(0deg, rgba(58,148,97,1) 9%, rgba(33,84,55,1) 89%);

}
.event_title{
  background: linear-gradient(0deg, rgba(58,148,97,1) 9%, rgba(33,84,55,1) 89%);
  color: white;
  padding-left: .5em;
  padding-right: .5em;
}
.event_body{
  background-color: #fefefe;
  color: black;
}
.card-content{
  width: 100%;
}