.cards-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

body {
  background: linear-gradient(0deg, rgba(254,254,254,1) 0%, rgba(113,120,132,1) 33%, rgba(43,54,72,1) 54%);
  background-repeat: no-repeat;
  height: 100vh;
}

.new_event_btn {
  color: #fefefe;
  width: 100%;
  /* border: none; */
  border-radius: 5px;
  background: linear-gradient(0deg, rgba(58,148,97,1) 9%, rgba(33,84,55,1) 89%);
}
.event_card {
  margin-top: 2em;
  background: linear-gradient(0deg, rgba(58,148,97,1) 9%, rgba(33,84,55,1) 89%);

}
.event_title{
  background: linear-gradient(0deg, rgba(58,148,97,1) 9%, rgba(33,84,55,1) 89%);
  color: white;
  padding-left: .5em;
  padding-right: .5em;
}
.event_body{
  background-color: #fefefe;
  color: black;
}
.card-content{
  width: 100%;
}