.card_content_container{
    margin-top: 1em;
    background-color: white;
}
.task_btn {
    color: white;
    background: linear-gradient(0deg, rgba(58,148,97,1) 9%, rgba(33,84,55,1) 89%);
    width: 100%;
}