/* .task_section{
    display: flex;
    width: 80%;
    height: 40%;
} */
.section-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.task_container{
    margin-top: 1em;
    background-color: white;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}
.task_btn {
    color: white;
    background: linear-gradient(0deg, rgba(58,148,97,1) 9%, rgba(33,84,55,1) 89%);
    width: 100%;
}