.btn_container{
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 0px 10px 10px 0px;

}
.friend_body{
    flex-direction: column;
    flex: 2.5;
    margin-left: 1em;
}
.friend_name{
    flex: 1 1;
    display: flex;
    align-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(0deg, rgba(58,148,97,1) 9%, rgba(33,84,55,1) 89%);
    border-radius: 10px 10px 0px 0px;
    padding-left: .5em;
}
.friend_card {
    background-color: white;
    margin-top: 1em;
    border-radius: 11px;
    /* padding-left: .5em; */
    /* display: flex; */
}
.container-cards{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.friend_section {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 2em;
    width: 200px;
}
#unfriend_btn{
    /* border-radius: 0px 0px 10px 10px; */
    background: linear-gradient(360deg, rgba(190, 24, 21, 1) 60%, rgba(43, 54, 72, 1) 100%);
    color: white;
    border: none;
    background: linear-gradient(180deg, rgba(190,24,21,1) 28%, rgba(97,30,45,1) 98%);
}
#message_btn{
    background: linear-gradient(180deg, rgba(58,148,97,1) 9%, rgba(33,84,55,1) 89%);
    color: white;
    border-bottom: none;
    border-left: none;
    border-right: none;
}